{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="row" style="padding: 15px">
    <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center">
        <div class="inner-block">

        <div class="panel panel-default">
            <div class="panel-heading">Submitted Tasks</div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Time</th>
                            <th>Status</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if task_items %}
                        {% for task in task_items %}
                            {% if task.status == 'done' %}
                                <tr class='list-group-item-success'>
                            {% elif task.status == 'processing' %}
                                <tr class='list-group-item-warning'>
                            {% elif task.status == 'error' %}
                                <tr class='list-group-item-danger'>
                            {% else %}
                                <tr class='list-group-item-danger'>
                            {% endif %}
                                <th>{{ task.name }}</th>
                                <th>{{ task.stime }}</th>
                                <th>
                                    {% if task.status == 'done' %}
                                        Complete
                                        <br>
                                        <span class="label label-success">(Finished: {{ task.etime }})</span>
                                    {% elif task.status == 'processing' %}
                                        Processing
                                    {% elif task.status == 'error' %}
                                        Error
                                    {% else %}
                                        Unknown error
                                    {% endif %}
                                </th>
                                <th>
                                    {% if task.status == 'done' %}
                                    <a href="{{ task.download }}">Results Link</a>
                                    <br>
                                    <span class="label label-warning">(Expires: {{ task.expiration }})</span>
                                    {% elif task.status == 'processing' %}
                                        N/A
                                    {% elif task.status == 'error' %}
                                        <a title="Contact Us" href="{% url 'contact_us' %}">Contact us</a>
                                    {% else %}
                                        Unknown error
                                    {% endif %}
                                </th>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>

            <p>
                The above table shows tasks submitted in the last 48 hours.
            </p>
            <p>
                If you have not received a status update within 6 hours or receive <br/>
                an "error" status, please <a title="Contact Us" href="{% url 'contact_us' %}">
                contact us</a> so we can further assist you.
            </p>

        </div>
    </div>
</div>

{% endblock content %}