{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="row" style="padding: 15px">
    <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center">
        <div class="inner-block">

        <div class="panel panel-default">
            <div class="panel-heading">Submitted Tasks</div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Time</th>
                            <th>Status</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if task_items %}
                        {% for task in task_items %}
                            {% if task.download %}
                            <tr class='list-group-item-success'>
                            {% else %}
                            <tr class='list-group-item-warning'>
                            {% endif %}
                                <th>{{ task.name }}</th>
                                <th>{{ task.stime }}</th>
                                <th>{{ task.status }}</th>
                                <th>
                                    {% if task.download %}
                                    <a href="{{ task.download }}">Results Link</a>
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </th>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>

            <p>
            The above table shows tasks submitted in the last 48 hours.
            </p>
            <p>Please <a title="Contact Us" href="{% url 'contact_us' %}">
            contact us</a> if you are experiencing any issues.
            </p>

        </div>
    </div>
</div>

{% endblock content %}