[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.27"
celery = "==4.4"
django-bootstrap3 = "==12.0.3"
gunicorn = "==20.0.4"
matplotlib = "==3.1.2"
pandas = "==0.25.3"
pyshp = "==2.1.0"
redis = "==3.3.11"
scipy = "==1.4.1"
fiona = "==1.8.13"
shapely = "==1.6.4.post2"
unipath = "==1.1"
xlsxwriter = "==1.2.7"
jaydebeapi = "==1.1.1"
awscli = "==1.17.6"
boto3 = "==1.11.6"
gdal = "==2.4.0"

[dev-packages]

[requires]
python_version = "3.6"
