[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.27"
celery = "==4.4"
django-bootstrap3 = "*"
gunicorn = "*"
matplotlib = "*"
pandas = "*"
pyshp = "*"
redis = "*"
scipy = "*"
fiona = "*"
shapely = "*"
unipath = "*"
xlsxwriter = "*"
jaydebeapi = "*"
awscli = "*"
boto3 = "*"
gdal = "==2.4.0"

[dev-packages]

[requires]
python_version = "3.6"
