[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "==4.2.0"
"django-bootstrap3" = "==8.2.2"
gunicorn = "==19.8.1"
matplotlib = "==2.2.3"
numpy = "~=1.11"
pandas = "==0.20.1"
pyshp = "==1.2.12"
redis = "==3.2.1"
scipy = "==1.1.0"
Django = "==1.11.22"
Fiona = "==1.7.6"
Shapely = "~=1.6"
Unipath = "==1.1"
XlsxWriter = "==0.9.6"
jaydebeapi = "*"
gdal = "==2.2.4"
awscli = "~=1.16"
boto3 = "~=1.9"

[dev-packages]

[requires]
python_version = "3.6"
