awscli==1.11.75
boto3==1.4.4
botocore==1.5.38
celery==4.0.2
Django~=1.11
django-bootstrap3==8.2.2
Fiona==1.7.6
gunicorn==19.8.1
matplotlib==2.2.3
numpy==1.11.3
pandas==0.20.1
pypyodbc
pyshp==1.2.12
redis==2.10.6
s3transfer==0.1.10
scipy==1.1.0
Shapely~=1.6
Unipath==1.1
XlsxWriter==0.9.6
