{% extends "base.html" %}

{% load bootstrap3 %}

{% block meta_description %}
    <meta name="description" content="Password change complete." />
{% endblock %}
{% block title %}Change Password Done - {% endblock %}

{% block content %}

    <div class="row" style="padding: 15px">
        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center">
            <div class="inner-block">
                Password has been successfully changed.
            </div>
        </div>
    </div>

{% endblock content %}