{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}LUU Checker - {% endblock %}

{% block content %}

    {% load static %}

    <script type="text/javascript">
        function showProcess() {
            var processing_message = "Processing may take several minutes. " +
                                     "Your results will be emailed to you " +
                                     "once the processing completes.";
            document.getElementById("message_process").innerHTML = processing_message;
        }

        $(document).ready(function() {
            $(".tool-title").text('LUU Checker');

            $("#luuc_landuse_percentage").on('input', function () {

                if ($("#luuc_landuse_percentage").val() != 0 &&
                        $("#luuc_landuse_percentage").val() < 0.001) {
                    $("#warning-percent").show();
                    $("#warning-message").remove();
                    $("#warning-percent").append(
                        "<p id='warning-message'><strong>Warning:</strong> Be " +
                        "careful while selecting a percentage threshold value lower than " +
                        "0.01. In smaller subbasins (&lt10,000 acres), a threshold value " +
                        "percentage of less than 0.01 may result in 0 pixels being designated " +
                        "to account for emerging landuse/landcover in the composite " +
                        "landuse raster.</p>"
                    );
                } else {
                    $("#warning-percent").hide();
                    $("#warning-message").remove();
                }
            });

            $("#Help1").mouseover(function() {
                $("#help1div").show();
                $("#help1div").append(
                    "<p id='message1'>The input should be a zip folder with " +
                    "name same as the Shapes folder that is compressed. " +
                    "The input folder should contain all shape files which " +
                    "includes .shp,.shx... et al.</p>");
            });
    
            $("#Help1").mouseout(function() {
                $("#help1div").hide();
                $("#message1").remove();
            });
        
            $("#Help2").mouseover(function() {
                $("#help2div").show();
                $("#help2div").append(
                    "<p id='message2'>The input should be a zip folder with name " +
                    "same as the Landuse folder that is compressed. The input " +
                    "folder should contain all required data.</p>");
            });
        
            $("#Help2").mouseout(function() {
                $("#help2div").hide();
                $("#message2").remove();        
            });
        
            $("#Help9").mouseover(function() {
                $("#help9div").show();
                $("#help9div").append(
                    "<p id='message9'>Select the available base raster. The base " +
                    "raster can represent 1st or last of available wastershed " +
                    "land use files.</p>");
                });
        
            $("#Help9").mouseout(function() {
                $("#help9div").hide();
                $("#message9").remove();
            });
        
            $("#Help3").mouseover(function(){
                $("#help3div").show();
                $("#help3div").append(
                    "<p id='message3'>Enter number of other available land use " +
                    "files other than base raster chosen before.</p>");
            });

            $("#Help3").mouseout(function() {
                $("#help3div").hide();
                $("#message3").remove();
            });
        
            $("#Help5").mouseover(function() {
                $("#help5div").show();
                $("#help5div").append(
                    "<p id='message5'>Enter percentage value of the new land use " +
                    "that needs to be updated.</p>");
            });
        
            $("#Help5").mouseout(function() {
                $("#help5div").hide();
                $("#message5").remove();        
            });

            $("#Help4").mouseover(function() {
                $("#help4div").show();
                $("#help4div").append(
                    "<p id='message4'>Select other available land use files other " +
                    "than base raster chosen before. The files selected should be " +
                    "available in Landuse folder in grid format.</p>");
            });

            $("#Help4").mouseout(function() {
                $("#help4div").hide();
                $("#message4").remove();
            });
        });
    </script>

    <div class="row" style="padding-top: 15px;">
        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; width: 100%">
            <div class="inner-block" style="max-width: 550px; min-width: 500px; width: 45%;">
                <form id="form1" role="form" method="post" action="{% url 'luuchecker/upload_subbasin_shapefile_zip' %}" enctype="multipart/form-data" style="text-align: left">
                    {% csrf_token %}
                    <label><b>Subbasin Shapefile:</b> &nbsp;</label>

                    {% buttons %}
                        <div align="left">
                            <input style="display: inline; padding-bottom: 5px" id="subbasin_shapefile_zip" type="file" name="subbasin_shapefile_zip">
                            <button id="upload1" type="submit" class="btn btn-primary" value="Upload" onclick="$('#loading').show();">Upload</button>
                            <button id="Help1" type="button">?</button>
                        {% if request.session.luuc_subbasin_shapefile_filepath %}
                            <span class="icon" style="color: #33CC33; margin-left: 15px">
                                <i class="glyphicon glyphicon glyphicon-ok"></i>
                            </span>
                        {% endif %}
                        </div>
                    {% endbuttons %}
                    
                    <div id="help1div" class="alert alert-info" role="alert"></div>
                    <div id="loading" style="display: none; text-align: center">
                        <img src="{% static "Images/loading1.gif"%}" width="20"  alt="" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 15px;">
        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; width: 100%">
            <div class="inner-block" style="max-width: 550px; min-width: 500px; width: 45%;">
                <form id="form2" role="form" method="post" action="{% url 'luuchecker/upload_landuse_folder_zip' %}" enctype="multipart/form-data" style="text-align: left">
                    {% csrf_token %}
                    <label><b>Landuse Folder:</b> &nbsp;</label>

                    {% buttons %}
                        <div align="left">
                            <input style="display: inline; padding-bottom: 5px" id="landuse_folder_zip" type="file" name="landuse_folder_zip">
                            <button id="upload1" type="submit" class="btn btn-primary" value="Upload" onclick="$('#loading2').show();" {% if not request.session.luuc_subbasin_shapefile_filepath %}disabled{% endif %}>Upload</button>
                            <button id="Help2" type="button">?</button>
                        {% if request.session.luuc_landuse_dir %}
                            <span class="icon" style="color: #33CC33; margin-left: 15px">
                                <i class="glyphicon glyphicon glyphicon-ok"></i>
                            </span>
                        {% endif %}
                        </div>
                    {% endbuttons %}

                    <div id="help2div" class="alert alert-info" role="alert"></div>
                    <div id="loading2" style="display: none; text-align: center">
                        <img src="{% static "Images/loading1.gif"%}" width="20"  alt="" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 15px;">
        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; width: 100%">
            <div class="inner-block" style="max-width: 550px; min-width: 500px; width: 45%;">
                <form id="form9" role="form" method="post" action="{% url 'luuchecker/upload_base_landuse_raster_file' %}" enctype="multipart/form-data" style="text-align: left">
                    {% csrf_token %}
                    <label><b>Base Landuse Raster File:</b> &nbsp;</label>

                    {% buttons %}
                        <div align="left">
                            <input style="display: inline; padding-bottom: 5px" id="base_landuse_raster_file" type="file" name="base_landuse_raster_file">
                            <button id="upload9" type="submit" class="btn btn-primary" value="Upload" onclick="$('#loading9').show();" {% if not request.session.luuc_landuse_dir %}disabled{% endif %}>Upload</button>
                            <button id="Help9" type="button">?</button>
                        {% if request.session.luuc_base_landuse_raster_filepath %}
                            <span class="icon" style="color: #33CC33; margin-left: 15px">
                                <i class="glyphicon glyphicon glyphicon-ok"></i>
                            </span>
                        {% endif %}
                        </div>
                    {% endbuttons %}

                    <div id="help9div" class="alert alert-info" role="alert"></div>
                    <div id="loading9" style="display: none; text-align: center">
                        <img src="{% static "Images/loading1.gif"%}" width="20"  alt="" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 15px;">
        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; width: 100%">
            <div class="inner-block" style="max-width: 550px; min-width: 500px; width: 45%;">
                <form id="form3" role="form" method="post" action="{% url 'luuchecker/select_number_of_landuse_layers' %}" enctype="multipart/form-data" style="text-align: left">
                    {% csrf_token %}
                    <label><b>Number of New Landuse Layers:</b> &nbsp;</label>

                    {% buttons %}
                        <div align="left">
                            <input style="display: inline; padding-bottom: 5px" id="luuc_landuse_layer_count" type="text" name="luuc_landuse_layer_count" size="5"/>
                            <button id="upload3" type="submit" class="btn btn-primary" value="OK" onclick="$('#loading6').show();"{% if not request.session.luuc_base_landuse_raster_filepath %}disabled{% endif %}>OK</button>
                            <button id="Help3" type="button">?</button>
                        {% if request.session.luuc_landuse_layer_count %}
                            <span class="icon" style="color: #33CC33; margin-left: 15px">
                                <i class="glyphicon glyphicon glyphicon-ok"></i>
                            </span>
                        {% endif %}
                        </div>
                    {% endbuttons %}
                    
                    <div id="help3div" class="alert alert-info" role="alert"></div>
                    <div id="loading6" style="display: none; text-align: center">
                        <img src="{% static "Images/loading1.gif"%}" width="20" alt="" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 15px">
        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; width: 100%">
            <div class="inner-block" style="max-width: 550px; min-width: 500px; width: 45%;">
                <form id="form4" role="form" method="post" action="{% url 'luuchecker/upload_selected_landuse_layers' %}" enctype="multipart/form-data" style="text-align: left">
                    {% csrf_token %}
                    {% if luuc_loop_times %} 
                        {% for i in luuc_loop_times %}
                            <label><b>Landuse layer{{ i }}: </b>&nbsp;</label>
                            <div class="row" style="padding-bottom: 10px">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <input style="display: inline" type="file" name="luuc_landuse_layers" id="luuc_landuse_layers" />
                                </div>
                            </div>
                        {% endfor %}

                        {% buttons %}
                            <div align="center">
                                <button id="upload4" type="submit" class="btn btn-primary" value="Select">Select</button>
                                <button id="Help4" type="button">?</button>
                            </div>
                        {% endbuttons %}
                    
                        <div id="help4div" class="alert alert-info" role="alert"></div>
                    {% else %}
                        <label><b> New Landuse Layer1:</b></label>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 15px;">
        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center; width: 100%">
            <div class="inner-block" style="max-width: 550px; min-width: 500px; width: 45%;">
                <form id="form5" role="form" method="post" action="{% url 'luuchecker/select_percentage' %}" enctype="multipart/form-data" style="text-align: left">
                    {% csrf_token %}
                    <label><b>LULC New Percentage:</b> &nbsp;</label>

                    {% buttons %}
                        <div align="left">
                            <input style="display: inline; padding-bottom: 5px" id="luuc_landuse_percentage" type="number" step="any" min="0" name="luuc_landuse_percentage" size="5"/>
                            <button id="upload5" type="submit" class="btn btn-primary" value="OK" onclick="$('#loading5').show();"{% if not request.session.luuc_landuse_layers_filepaths %}disabled{% endif %}>OK</button>
                            <button id="Help5" type="button">?</button>
                        {% if request.session.luuc_landuse_percentage %}
                            <span class="icon" style="color: #33CC33; margin-left: 15px">
                                <i class="glyphicon glyphicon glyphicon-ok"></i>
                            </span>
                        {% endif %}
                        </div>
                    {% endbuttons %}
                    
                    <div id="help5div" class="alert alert-info" role="alert"></div>
                    <div id="warning-percent" class="alert alert-warning" role="alert"></div>
                    <div id="loading5" style="display: none; text-align: center">
                        <img src="{% static "Images/loading1.gif"%}" width="20" alt="" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row" style="padding: 10px; width: 45%; max-width: 550px; min-width: 500px; margin: auto; text-align: center">
        <form id="form6" role="form" method="post" action="{% url 'luuchecker/reset' %}" enctype="multipart/form-data" style="display: inline-block">
        {% csrf_token %}
            {% buttons %}
                <button id="reset" type="submit" class="btn btn-warning" value="Reset">Reset</button>
            {% endbuttons %}
        </form>
    
        <form id="form7" role="form" method="post" action="{% url 'luuchecker/process' %}" enctype="multipart/form-data" style="display: inline-block">
        {% csrf_token %}
            {% buttons %}
            <button id="Process" type="submit" class="btn btn-success" onClick="showProcess()"
                {% if not request.session.luuc_landuse_percentage or not request.session.luuc_landuse_layers_filepaths or not request.session.luuc_base_landuse_raster_filepath or not request.session.luuc_landuse_dir or not request.session.luuc_subbasin_shapefile_filepath %}
                    disabled
                {% endif %}>Process
            </button>
            {% endbuttons %}
        </form>
    </div>

    <div class="row" style="padding: 10px; width: 45%; max-width: 550px; min-width: 500px; margin: auto; text-align: center">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #fcf8e3">
                <h3 class="panel-title" style="padding-top: 0px"><strong>Status</strong></h3>
            </div>
            <div class="panel-body">
                <div id="progress">
                    {% for message in request.session.progress_message %}
                        <b id="message_process" style="color: #33CC33;">{{message }}</b><br/>
                    {% endfor %}
                    {% if request.session.error %}
                        <b style ="color:#F92E31;">{{ request.session.error}}</b><br/>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}