{% load static %}

<nav class="navbar navbar-default" style="background-color: #b1810b; border-radius: 0px; border: none;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        {% if user.is_authenticated %}
          <li><span class="navbar-welcome">Hello, {{ user.first_name | upper }}</span></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          {% if request.path != "/tool_selection" and request.path != "/" %}
            <li><a title="Tool Selection" href="{% url 'tool_selection' %}">Return to Tool Selection</a></li>
          {% else %}
            <li><a title="Set Upload Speed" href="{% url 'speed' %}">Set Upload Speed</a></li>
            <li><a title="Change Password" href="{% url 'password_change' %}">Change Password</a></li>
          {% endif %}
          <li><a title="Task Status" href="{% url 'task_status' %}">Task Status</a></li>
          <li><a title="Contact Us" href="{% url 'contact_us' %}">Contact Us</a></li>
          <li><a title="Logoff" href="{% url 'logout' %}">Logoff</a></li>
        {% else %}
          <li><a title="Login" href="{% url 'login' %}">Log In</a></li>
          <li><a title="Register" href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
